{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SmartMall BinAdmin</title>


  <link href="{% static '/Landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/Landing/css/agency.css' %}" >

  
  <link href="{% static '/Landing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  
  <link href="{% static '/Landing/css/agency.min.css' %}" rel="stylesheet">




  <style>
   
.blok{margin:30px;}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #050505;
  color: white;
}
      .dust{
          height:400px;
          transition: height 1s ease-in;
          text-align: center;
          font-size: 2vw;
          margin: 5px;
      }
  </style>
</head>

<body id="page-top">


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SmartMall</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/sendmail" class="btn btn-light action-button">Send Mail</a>
          </li> -->
          
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Dashboard</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout" class="btn btn-light action-button">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          
          <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/FCrgmqqvl-w/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><strong>Fruits</strong></h2>
            </div>
          </div>
          
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/4R1YpmGO52I/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><strong>Vegetables</strong></h2>
            </div>
          </div>
          
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/72Sz8kOwjdM/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><strong>Packed beverages</strong></h2>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </header>

   

  <!-- Services -->
  <!-- <section class="page-section" id="services">
    
  </section> -->


   
  


  
  <section class="blok" id="about">
    <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><strong>Dashboard</strong></h2>
          <h3 class="section-subheading text-muted"><strong>Manage your Bins here!</strong></h3>
          <br>
          <br>
          <br>
    </div>

    

    <div class="blok-body">
        <div class="row">
         
                <ul class="nav tab-menu nav-pills col-sm-12 nav-stacked pr15 bg-light">
                  <li class="active"  data-toggle="tab"><a class="btn btn-dark btn-block" href="#home">Bin Status</a></li><br>

                </ul>
            <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                var ab = JSON.parse(this.responseText);

                for(x in ab){
                    var str = "sp"+x;
                    if(ab[x].fields.status == 0){

                        document.getElementById(str).style.background='green';

                    }
                    else{
                        document.getElementById(str).style.background='red';
                    }
                    var d = parseFloat(ab[x].fields.dist)
                    d = d+50
                    document.getElementById(str).style.height = d.toString()+'px';
                    document.getElementById(str).innerHTML = ab[x].fields.location;
                }
                 ;

                }
                };
            xhttp.open("GET", "getBindata/", true);
         xhttp.send();
        }
        window.setInterval(loadDoc, 50);
    </script>
         
                <div class="tab-content col-sm-12">


                            <div class="tab-pane well active in active" id="home"> 
                                

                                
                                <div id="evaluate" class ="row">
                                  <div  class = "col-4">

                                    </div>
                                  <div id="sp0" class = "col-2 dust">

                                    </div>
                                    <div id="sp1" class = "col-2 dust">

                                    </div>

                                  <div class = "col-4">

                                    </div>


                                </div>



                            </div>


                            
                          
                  
                </div>
        </div>
</div>   
   
  </section>


  
  <section class="blok" id="services">
    <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><strong>Edit</strong></h2>
          <h3 class="section-subheading text-muted"><strong>Add bins here!</strong></h3>
          <br>
          <br>
          <br>
        </div>

    <div class="blok-body">
<div class="row">
  
  <ul class="nav tab-menu nav-pills col-sm-12 nav-stacked pr15 bg-light">
    <li class="active"  data-toggle="tab"><a class="btn btn-dark btn-block" href="#home2">Add Bin</a></li><br>
    
    
    
  </ul>
  
  <div class="tab-content col-sm-12">
    <div class="tab-pane well active in active" id="home2"> 
        <br><br><h1><strong>New Bin</strong></h1>
        <br><br>
        
          <div id="evaluate">
                    
                        <form action = "/addbin/" method = 'POST' enctype = "multipart/form-data">
                        {% csrf_token %}
                            <tr>
                                <td>
                                    <br><br><h1><strong>Add Bin</strong></h1>
                                    
                                </td>
                                
                                
                                <td>
                                    <label>
                                    <strong>1.</strong>Bin Location:<br>
                                    </label> 
                                    <input type="text" placeholder="Location" name="binlocation"><br><br>
                                    
                                </td>
                                <td>
                                    <label>
                                    <strong>2.</strong>Bin Status:<br>
                                    </label>  
                                    <input type="number" placeholder="Status" name="binstatus"><br><br>
                                </td>
                                
                                <button type="submit" name="button" class="button" >Submit</button>
                                <button type="reset" name="button" class="button" >Reset</button><br><br>
                                
                            </tr>
                        </form>
                    </div>


  </div>
   
    
    
</div>
</div>    
  
      
    
  </section>

    

  

  <script>
    $('.tab-menu a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  </script>

  
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  

  
 

  
  <script src="{% static '/Landing/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/Landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  
  <script src="{% static '/Landing/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  
  <script src="{% static '/Landing/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static '/Landing/js/contact_me.js' %}"></script>

  
  <script src="{% static '/Landing/js/agency.min.js' %}"></script>


 
  </script> -->
<script>
    $('.tab-menu a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  </script>
  
</body>

</html>