{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SmartMall</title>

  
<link href="{% static '/Landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/Landing/css/agency.css' %}" >

  <!-- Custom fonts for this template -->
  <link href="{% static '/Landing/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static '/Landing/css/agency.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">



  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SmartMall</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Functionality</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Features</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Workflow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          
          
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/Login" class="btn btn-light action-button">Login</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>




  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in" >Welcome To SmartMall!</div>
        <div class="intro-heading text-uppercase">Get Ready to revolutionize the way you shop</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
      </div>
    </div>
  </header>

   

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Functionality</h2>
          <h3 class="section-subheading text-muted">Operational capabalities that sets us apart!</h3>
        </div>
      </div>
      <div class="row text-center">

        <div class="col-md-4">
            <a href="\parking" style="text-decoration: none;color: inherit">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-car fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Adept Parking System</h4>
          <p class="text-muted">The digitized slot manager makes sure there is ordered parking, fingerprint and time based payment system makes sure there is flowing revenue generation.</p>
        </a></div>
        <div class="col-md-4">
             <a href="\Login" style="text-decoration: none;color: inherit">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-store fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Automated Restocking</h4>
          <p class="text-muted">The stores can replenish their stock without user intervention by using object detection to scan the stocks and replenish if the requirement is not met.</p>
        </a></div>
        <div class="col-md-4">
             <a href="\cart" style="text-decoration: none;color: inherit">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Effortless Cart and Billing</h4>
          <p class="text-muted">Using digitized cart the can have hasslefree shopping without carrying the things around and instant billing can save the delay caused long queues at desk.</p>
        </a></div>
        <div class="col-md-6">
             <a href="\Loginbin" style="text-decoration: none;color: inherit">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-recycle fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Slick Waste Disposal</h4>
          <p class="text-muted">Monitoring the waste management digitally with a hands-free bin using sensors along with a token based beneficiary system to inculcate the use of bins.</p>
        </a></div>
        <div class="col-md-6">
             <a href="\parking" style="text-decoration: none;color: inherit">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Proficient Asset Tracking</h4>
          <p class="text-muted">Mall authority can keep a track of the assets granted, assets returned, manage assets, can check the inventory on a real-time basis without any discrepancies.</p>
        </a></div>
      </div>
    </div>
  </section>


   <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Features</h2>
          <h3 class="section-subheading text-muted">Distinctive characteristic that sets us apart!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/Landing/img/portfolio/01-thumbnail.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Always available</h4>
            <p class="text-muted">24 hours online</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/Landing/img/portfolio/02-thumbnail.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Customizable</h4>
            <p class="text-muted">Tailormade System</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/Landing/img/portfolio/03-thumbnail.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Fast</h4>
            <p class="text-muted">No Time-Waste</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/Landing/img/portfolio/04-thumbnail.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Automated</h4>
            <p class="text-muted">Hassle Free</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/Landing/img/portfolio/05-thumbnail.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Secure</h4>
            <p class="text-muted">Well Protected</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static '/Landing/img/portfolio/06-thumbnail.jpg' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Works everywhere</h4>
            <p class="text-muted">Global Reach</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Workflow</h2>
          <h3 class="section-subheading text-muted">Execution of our Venture that sets us apart!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static '/Landing/img/about/1.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Setting up Parking</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Your parking slots, fingerprint and time based payment will be set.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static '/Landing/img/about/2.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Setting up Restocking</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Your inventory requirements and cameras to detect will be set up.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static '/Landing/img/about/3.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Setting up SmartBins</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">All dustbins will be fit with handsfree system and token system.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static '/Landing/img/about/4.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Setting up Carts</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">All products in store will be attached with tags and scanner will replace carts.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static '/Landing/img/about/5.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Placing of AssetTracker</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">A new system to track mall assets will be set up with inventory details.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>SmartMall!
                  </h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Team</h2>
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static '/Landing/img/team/1.jpg' %}" alt="">
            <h4>Ninad Wadode</h4>
            
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static '/Landing/img/team/2.jpg' %}" alt="">
            <h4>Shubham Darekar</h4>
            
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static '/Landing/img/team/3.jpg' %}" alt="">
            <h4>Anshul Chaudhary</h4>
            
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
      
    </div>
  </section>

  

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Always available</h2>
                
                <img class="img-fluid d-block mx-auto" src="{% static '/Landing/img/portfolio/01-full.jpg' %}" alt="">
                <p>24/7 ordering system available with secured system.</p>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Feature</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Customizable</h2>
                
                <img class="img-fluid d-block mx-auto" src="{% static '/Landing/img/portfolio/02-full.jpg' %}" alt="">
                <p>Easy adding and removing stock details.</p>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Feature</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Fast</h2>
                
                <img class="img-fluid d-block mx-auto" src="{% static '/Landing/img/portfolio/03-full.jpg' %}" alt="">
                <p>Suggestion available for the most trending product of the season.</p>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Feature</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Automated</h2>
                
                <img class="img-fluid d-block mx-auto" src="{% static '/Landing/img/portfolio/04-full.jpg' %}" alt="">
                <p>Ordering supplies directly without user intervention.</p>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Feature</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Secure</h2>
                
                <img class="img-fluid d-block mx-auto" src="{% static '/Landing/img/portfolio/05-full.jpg' %}" alt="">
                <p>All privilages checked before giving access.</p>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Feature</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Works everywhere</h2>
                
                <img class="img-fluid d-block mx-auto" src="{% static '/Landing/img/portfolio/06-full.jpg' %}" alt="">
                <p>Can order for home sitting anywhere in the world.</p>
                
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Feature</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  


   
  <script src="{% static '/Lap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/Lap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  
  <script src="{% static '/Lap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

 
  <script src="{% static '/Lap/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static '/Lap/js/contact_me.js' %}"></script>

  
  <script src="{% static '/Lap/js/agency.min.js' %}"></script>

</body>

</html>